*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
gtweak/defs.py
install-sh
missing
py-compile
*~
*.diff
*.orig
*.rej
*.metadata
*.settings
*.project
*.pydevproject
*.ropeproject
__pycache__
bareftp/i18n.py
bareftp/version.py
